.container{
    height:90%;
    width: 96%;
    margin-left: 2%;
    margin-top: 1%;
    border:1px solid black
}

.container .local{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    height:90%;
    width: 30%;
    margin-left: 7%;
    margin-top: 2%;
    border:1px solid black;
    float: left;
}

.container .remote{
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    height:90%;
    width: 30%;
    margin-left: 60%;
    margin-top: 2%;
    border:1px solid black
}

.container .remote .files{
   
    height:40%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border:1px solid black
}